body{
    background-image: url(../images/three.jpg);
    background-size: cover;
    background-color: #2F3035;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
nav {
    background-color: rgba(0, 0, 0, 0.33);
    text-align: center;
    padding-top: 1px;
    padding-bottom: 14px;
    font-size: 35px;
}
header
{
    height: 100px;
    font-size: 45px;
    text-align: center;
    font-family: cursive;
    color: white;
}
footer p {
    font-size: 10px;
    color: #CECECE;
    text-align: center;
}
footer {
    background-color: rgba(0, 0, 0, 0.33);
    padding-top: 50px;
    padding-bottom: 50px;
}
.hero {
    text-align: center;
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 80px;
    /*padding-bottom: 80px;*/
}
h1 {
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.hero p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;
    color: #CECECE;
}
section
{
    margin-bottom:  150px;
}